{% extends "transport/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Fuel Request Form </h2>
    <hr>
    <form method = "POST" id="fuelForm" data-prices-url="{% url 'ajax-load-prices' %}" novalidate>
        {% csrf_token %}
        <fieldset class ="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class ="form-group">
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

        <script>
          $("#id_fuel_type_requested").change(function () {
            var url = $("#fuelForm").attr("data-prices-url");  // get the url of the `load_cities` view
            var fuel_id = $(this).val();  // get the selected country ID from the HTML input
      
            $.ajax({                       // initialize an AJAX request
              url: url,                   // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
              data: {
                'fuel_id': fuel_id       // add the country id to the GET parameters
              },
              success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_price_per_liter").html(data);  // replace the contents of the city input with the data that came from the server
              }
            });
      
          });
        </script>
{% endblock content %}
